.banner{
    background:#655cb8;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3),inset 0 -8px 8px -8px rgba(0,0,0,.3);
}
.banner p{
    color:#fff;
    text-align:center;
    font-size:1.5rem;
    font-weight:300!important;
    margin-bottom:0
}
.banner h1{
    color:#fff;
    text-shadow:0 1px 3px rgb(255, 255, 255);
    font-weight:700!important;
    text-align:center;
    font-size:3.5rem;
    padding-bottom:.5rem
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
.ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }